.cardOmdb {
  min-height: 300px;
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}
.iris {
    background-image: url("img/dog-background.jpg");
    background-repeat: no-repeat;
    height: 102vh;
    background-size: cover;
}
.buttonPanel{
	padding-top:500px;
}
.splashText{
	color:black;
	margin-left:30%;
}
.RobotoSlabFont{
	font-family: 'Roboto Slab', serif;
}
.btn-small{
	position:absolute;
}
.page-form{
  padding-bottom:0px;
  margin-bottom:0px;
}
.loginBox{
  padding-bottom:0px;
  margin-bottom:0px;
}