$rgba-primary-0: rgba( 98,106, 33,1); //middle
$rgba-primary-1: rgba(162,170, 93,1); //bright
$rgba-primary-2: rgba(120,127, 58,1); //second light
$rgba-primary-3: rgba( 68, 75, 13,1); //second dark
$rgba-primary-4: rgba( 39, 44,  0,1); //dark
$titleFont: 'Fugaz One', cursive;
$generalFont: 'Monda', sans-serif;

nav {
  height: 80px;
}

nav a {
  margin-top: 8px;
}

#navInput {
  margin-top: 8px;
}

.applyFont{
  font-family: $generalFont;
}

.brand-logo{
  margin-left:1%;
}
.pButton{
  margin:0 1rem;
}
.cardOmdb {
  min-height: 300px;
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}
.iris {
    background-image: url("img/kid-background.jpeg");
    background-repeat: no-repeat;
    height: 102vh;
    background-size: cover;
}
.buttonPanel{
	padding-top:500px;
}
.splashText{
	color:black;
	text-align:center;
  font-size: 100px;
  margin:0px auto;
  font-family: $titleFont;
}
.picturePanel{
  margin-top:0px;
}
.btn-small{
	position:absolute;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.page-form{
  padding-bottom:0px;
  margin-bottom:0px;
}
.loginBox{
  padding-bottom:0px;
  margin-bottom:0px;
}

.card-content {
  text-align: center;
}

#navUserImageContainer {
  float: right;
  display: inline-block;
  height: 80px;
}

#navUserImage {
  border-radius: 50%;
  width: 68px;
  margin-top: 5px;
  margin-right: 8px;
  height: 86%;
  object-fit: cover;
}

.loginBtns {
  background-color: $rgba-primary-4;
}

// .btn-floating i{
//   color:black;
// }
