<nav ng-controller="HeaderCtrl">
 <div class="nav-wrapper row">
   <a href="#" class="brand-logo">Pinville</a>
   <input id="navInput" class ="col m6 offset-m3" type="text" placeholder ="Search for a board!" ng-model="filter.search">
   <ul id="nav-mobile" class="right hide-on-med-and-down">
     <li><a ng-click="boardsPressed()">Boards</a></li>
     <li><a ng-click="logoutPressed()">Logout</a></li>
     <li ng-if="userPicture">
       <div id="navUserImageContainer">
        <img id="navUserImage" src="{{userPicture}}">
       </div>
     </li>
   </ul>
 </div>
</nav>
