
<div class="iris">

	<div class="card-panel splash-buttons card transparent z-depth-5">
		<h1 class="splashText RobotoSlabFont">Welcome to Pinville!</h1>
		<div class="row buttonPanel">
			<a class="col s4 offset-s1 waves-effect waves-light blue-grey btn-large"
			ng-click="registerUser()">Sign-up</a>
			<a class="col s4 offset-s2 waves-effect waves-light blue-grey btn-large"
			ng-click="loginUser()">Login</a>
		</div>
	</div>
	<div ng-if="signUp === true">
		<input ng-model="registerData.email" type="email" placeholder="Enter email">
		<input ng-model="registerData.password" type="password" placeholder="Enter password">
		<a class="col s4 offset-s4 waves-effect waves-light blue-grey btn-large"
		ng-click="createEmailAccount()">Register!</a>
	</div>
</div>
</div>

   