
<div class="iris">

	<div class="card-panel splash-buttons card transparent z-depth-5 picturePanel">
		<h1 class="splashText RobotoSlabFont">Welcome to Pinville!</h1>
		<div class="row buttonPanel container">
			<a class="col s3 waves-effect waves-light btn-large green darken-4"
			ng-click="registerUser()">Sign-up</a>
			<a class="col s3 offset-s1 waves-effect waves-light btn-large green darken-4 loginBtns"
			ng-click="signInUser()">Sign-in</a>
			<a class="col s3 offset-s1 waves-effect waves-light btn-large green darken-4"
			ng-click="loginUser()">Login with Google</a>
		</div>
	</div>
	<div ng-if="signUp === true" class="container row page-form applyFont">
		<input ng-model="registerData.email" type="email" class="col s3 loginBox" placeholder="Enter email">
		<input ng-model="registerData.password" type="password" class="col s3 offset-s2 loginBox" placeholder="Enter password">
		<a ng-if="signUpBtn===true"class="col s2 offset-s1 waves-effect waves-light green darken-4 btn-large"
		ng-click="createEmailAccount()">Register!</a>
		<a ng-if="signUpBtn!==true"class="col s2 offset-s1 waves-effect waves-light green darken-4 btn-large"
		ng-click="createEmailAccount()">Login!</a>
	</div>
</div>
</div>

   