<div class="modal-wrapper">
<div class="btf-modal card-panel indigo darken-1">
	<h2>Pin Item!</h2>
  <img src="{{itemToPin.image}}">
  <p>{{itemToPin.title}}</p>
	<input ng-model="itemToPin.comments" type="text" placeholder="Enter a comment">
	<div class="row">
		<a class="col s4 offset-s1 waves-effect waves-light blue-grey btn-large"
			ng-click="closeModal()">Close modal</a>
		<a class="col s4 offset-s1 waves-effect waves-light blue-grey btn-large" ng-click="pinToBoard()">Pin to board</a>
	</div>
</div>
</div>
